pyrogram==2.0.102
tgcrypto
requests
pyromod
ffmpeg
mediainfo
cloudscraper
beautifulsoup4>=4.12.0
aiohttp
aiofiles
yt-dlp>=2024.0.0
pycryptodome>=3.10.1
PySocks
websockets
psutil
async-lru
pyaes>=1.6.1
soupsieve>=2.2.1
py-tgcalls==0.6.0
